.phone {
  border: 1px solid #F4F4F4 !important;
  border-radius: 8px;
  color: #282828;
  font-size: 1.35em;
  padding-left: 16px;
  font-family: Gibson_v4-Regular;
  box-shadow: 0px 4px 10.7px 0px #7A676726;

}